.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  min-width: 320px;
  max-width: 1600px;

  .section {
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

// @media screen and (min-width: 480px) {
//   .container {
//     max-width: 480px;
//     margin: 0 auto;
//     padding: 0 15px;
//     align-items: center;
//   }
// }

// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 768px;
//     margin: 0 auto;
//     padding: 0 15px;
//     align-items: center;
//   }
// }

// @media screen and (min-width: 1200px) {
//   .container {
//     width: 1200px;
//     margin: 0 auto;
//   }
//   // .section {
//   //   padding-top: 94px;
//   //   padding-bottom: 94px;
//   //   padding-left: 15px;
//   //   padding-right: 15px;
//   // }
// }
