//----------BACKGROUND COLORS----------//
$background-main-color: #ffffff;
$background-light-color: #f5f4fa;
$background-dark-color: #2f303a;
$label-background-color: #2f303acc;
$backdrop-color: #00000033;
$overlay-color: #2196f3e5;

//----------ICON COLORS----------//
$icon-color: #afb1b8;
$icon-select-color: #2196f3;
$social-links-light: rgba(255, 255, 255, 1);
$social-links-dark: rgba(255, 255, 255, 0.1);

//----------TEXT COLORS----------//
$text-main-color: #212121;
$text-light-color: #ffffff;
$link-color: #2196f3;
$text-mdllight-color: #ffffff99;
$text-dark-color: #757575;
$text-verydark-color: #000000;
$text-comment-color: rgba(117, 117, 117, 0.5);
$text-placeholder-color: rgba(255, 255, 255, 0.6);
// ----------FONTS----------//
$font-family: "Roboto", "Raleway", "sans-serif";

// ----------BORDERS, SHADOWS AND GRADIENTS----------//
$border-color: #eeeeee;
$border-header-color: #ececec;
$border-email: rgba(255, 255, 255, 0.3);
$background-gradient-first: #2f303a66;
$button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$input-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
