.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(-50%) translateY(50%) scale(0) rotate(-360deg);
  transition-delay: 250ms;
  transition-duration: 1000ms;
}
